.header{
    padding: 10px;
    color: #2b5480;
}
.links {
    background-color: #2b5480;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.link.active{
	background-color: #82b7d0;
    color:black;
}
.links a {
    padding: 1rem;
    border-right: 1px solid white;
    color: white;
    text-decoration: none;
    height: 100%;
}

.links span {
    padding: 1rem;
    margin-left: auto;
    color: white;
}
@media (max-width: 400px)  {
    .links {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .links span {
        margin-left: 0;
        width: 100%;
        text-align: center;
        padding: 1rem;
        border-bottom: 1px solid white; 
    }
    .links a {
        border-right: none;
        border-bottom: 1px solid white;
        width: 100%;
        text-align: center;
    }
}