*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
}
body, html {
    min-height: 100vh;
}
.header{
    background-color:blue;
    color: white;
    padding: 30px;
    font-size: 25px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: rgb(135, 202, 219);
    padding:5px;
}

.nav a{
    color: white;
    text-decoration: none;
    padding: 15px;
    background-color: rgb(18, 65, 153);
    border-radius: 1px;
    border-right:1px solid white;
}

.nav a:last-child{
    border-right: none;
}

.footer{
    margin-top: auto;
    background-color: darkgray;
    color:dimgray;
    text-align: center;
    padding: 20px;  
}