*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../images/pozadina.jpg);
    background-repeat: none;
    background-size: cover;
}
a{
    text-decoration: none;
    color:inherit;
}

.footer{
    background-color: #641835;
    color:#fcfba1;
    text-align: center;
    padding: 1rem;
    width: 100%;
    position: absolute;
    bottom:0;
}